[submodule "vendor/plugins/recaptcha"]
	path = vendor/plugins/recaptcha
	url = git://github.com/ambethia/recaptcha.git
[submodule "vendor/plugins/paper_trail"]
	path = vendor/plugins/paper_trail
	url = git://github.com/airblade/paper_trail.git
[submodule "vendor/plugins/authlogic-connect"]
	path = vendor/plugins/authlogic-connect
	url = git@github.com:lordmortis/authlogic-connect-example-rails2.git
