#login {
	float: right;
	margin: 0.5em;
}

body {
	background-color: gray;
	font-family: Verdana;
	font-size: 0.85em;
	margin: 0px;
}

#container {
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	width: 90%;
	background: #CCCCCC;
}

#wrapper-top {
	height: 108px;
	background-color: white;
}

#topbar {
	position: relative;
	height: 96px;
	background: black url('/images/topbar-background.png') repeat-x scroll 100% 0;
	line-height: 30px;
	color: white;
	margin-bottom: 0px;
}

#topbar #content {
	margin: 0.5em;
	color: white;
	font-family: Arial;
}

#topbar ul {
	position: absolute;
	bottom: 0px;
	height: 36px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	margin-left: 0.5em;	
	margin-right: 0.5em;		
	padding: 0;
}

#topbar a {
	color: white;
	text-decoration: none;
}

#topbar a:hover {
	color: red;
	text-decoration: none;
	background: black;
}

#topbar li {
	display:block;
	float: left;
	font-size: 95%;
	margin: 0;
	padding: 0 14px;
	background: transparent;
	background-position: 0 0;
	height: 100%;
}

#topbar li.selected {
	background: #080808;
}

#topbar li.selected:hover {
}

#topbar li:hover {
	color: red;
	text-decoration: none;
	background: black;
}

#page {
	padding: 1.0em;
	color: black;
	font-size: 0.85em;
}

#bottombar {
	position: relative;
	height: 96px;
	background: black url('/images/bottombar-background.png') repeat-x scroll 100% 0;
	line-height: 30px;
	clear: both;
}

.floatright {
	float: right;
}

.hidden {
	display: none;
}


