#login {
	float: right;
	margin: 0.5em;
}

body {
	background: #CCCCCC;
	font-family: Verdana;
	font-size: 0.85em;
	margin: 0px;
}

#wrapper-top {
	background: white url('/images/topbar_logo-iphone.png');
	position: relative;
	height: 93px;
	background-color: white;
}

#wrapper-top #content{
	position: absolute;
	bottom: 0px;
	background-color: white;
}

#page {
	padding: 0px;
}

#page #content {
	position: relative;
	font-size: 0.85em;
	padding: 1.0em;
	color: black;
}

.blackbar {
	position: relative;
	background: black repeat-x scroll 100% 0;
	line-height: 30px;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.blackbar #content {
	margin: 0.5em;
	color: white;
	font-family: Arial;
}

.blackbar ul {
	height: 36px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	margin-left: 0.5em;	
	margin-right: 0.5em;		
	padding: 0;
}

.blackbar a {
	color: white;
	text-decoration: none;
}

.blackbar li {
	display:block;
	float: left;
	font-size: 95%;
	margin: 0;
	padding: 0 14px;
	background: transparent;
	background-position: 0 0;
	height: 100%;
}

.blackbar li.selected {
	background: #080808;
}

.floatright {
	float: right;
}

.iphone-maxwidth {
	-webkit-box-sizing: border-box;
	font-size: 16px;
	font-weight: normal;
	margin: 8px 0px 0px;
	padding: 6px;
	width: 100%;
}

.iphone-checkbox {
	-webkit-box-sizing: border-box;
	font-weight: normal;
	width: 20px;
	height: 20px;
}

button {
	font-size: 16px;
	font-weight: normal;
	margin: 8px 0px 0px;
	padding: 6px;
	width: 100%;
}

label {
	margin: auto;
	font-size: 1.5em;
	font-weight: bold;
}

.attendee {
	padding: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999999;
	background-color: #AAAAAA;
	margin: 5px;
}

.attendeeadd {
	padding: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999999;
	background-color: #AAAAAA;
	margin: 5px;
}


.hidden {
	display: none;
}
