<link href="http://moondine.homelinux.org:4010/stylesheets/facebook.css?v=1.2" media="screen" rel="stylesheet" type="text/css" />
</head>
<div id="wrapper-top">
<div class="floatright"><%= link_to("Go to Full Site", "http://genghiscon.org", :target => "_top") %></div>
<img src="http://moondine.homelinux.org:4010/images/topbar_logo.png" height="108" width="373"/>
</div>
<div id="topbar">
  <div id="content">
  <div class="floatright">14th January to 16th January 2011</div>
  GenghisCon 2011: The Wraith of Khan
  </div>
</div>
<div id="page">
	<div id="content">
		<%= yield %>
	</div>
</div>